{% extends 'base.html' %}



{% block content %}
    <h3>Profiles</h3>
        <div class="row">
            {% for profile in profiles %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                      <i class="fa fa-user-circle" aria-hidden="true"></i>
                      <h5 class="card-title">{{profile.name}}</h5>
                      <p class="card-text">{{profile.email}}</p>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}